{% extends 'base.html' %}
{% block content %}
<h1 class="title">Monthly Ledger Summary</h1>
<div class="columns">
	<div class="column">
		<div class="box has-text-centered">
			<p class="heading">Total Invoices</p>
			<p class="title">{{ 'Rs ' ~ '%.0f'|format(total_invoices) }}</p>
		</div>
	</div>
	<div class="column">
		<div class="box has-text-centered">
			<p class="heading">Total Payments</p>
			<p class="title">{{ 'Rs ' ~ '%.0f'|format(total_payments) }}</p>
		</div>
	</div>
	<div class="column">
		<div class="box has-text-centered">
			<p class="heading">Outstanding</p>
			<p class="title">{{ 'Rs ' ~ '%.0f'|format(outstanding) }}</p>
		</div>
	</div>
</div>
{% endblock %}
